.error-container {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #fff;
}

.error-content {
  flex: 1;
  display: flex;
}

.error-content-child{
  margin-left: 25%;
}

.error-content h1 {
  color: #3a3395;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -1.2px;
  margin: 0;
}

.error-content h2 {
  color: #111827;
  font-size: 48px;
  font-weight: bold;
  margin-top: 8px;
}

.error-content p {
  color: #6b7280;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
}

.error-content .link {
  display: block;
  font-size: 16px;
  color: #3a3395;
  font-weight: bold;
  margin-top: 24px;
  text-decoration: none;
}

.error-image {
  flex: 1;
}

.error-image img {
  height: 1024px;
  width: 720px;
}

@media (max-width: 991px) {
  .error-container {
    flex-direction: column;
    text-align: center;
  }

  .error-content, .error-image {
    max-width: 100%;
  }
}
