.create-recipe-container {
  height: 1757px;
  width: 1218px;
  margin-left: auto;
  margin-right: auto;
}

.recipe-info {
  display: flex;
  flex-direction: column;
}

.section-title {
  color: #111827;
  font: 600 18px/1 Inter, sans-serif;
  width: 100%;
  font-size: 32px;
  margin-top: 40px;
  font-weight: bold;
}

.recipe-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.form-divider {
  background-color: #e5e7eb;
  height: 1px;
  width: 100%;
  margin: 20px 0;
}

.form-field {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.field-label {
  color: #374151;
  font-weight: 500;
  width: 350px;
}

.text-input {
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--white, #fff);
  padding: 9px 13px;
  font-weight: 400;
}

.textarea-input {
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--white, #fff);
  padding: 9px 13px;
  font-weight: 400;
  resize: vertical;
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.help-text {
  color: #6b7280;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 80px;
}

.add-more-button,
.submit-button {
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #3a3395;
  color: var(--white, #fff);
  padding: 9px 13px;
  font: 500 14px/1 Inter, sans-serif;
  border: none;
  cursor: pointer;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-top: 32px;
  gap: 12px;
  padding: 13px 25px;
  font: 500 16px Inter, sans-serif;
}

.submit-icon {
  width: 20px;
  height: 20px;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
}

.ingredients-title {
  color: #111827;
  font: 500 18px/1 Inter, sans-serif;
  width: 100%;
}

.ingredients-form {
  display: flex;
  margin-top: 20px;
  width: 100%;
  flex-direction: column;
}

@media (max-width: 991px) {
  .section-title,
  .info-form,
  .form-divider,
  .ingredients-title,
  .ingredients-form,
  .form-field {
    max-width: 100%;
  }

  .form-field {
    padding-right: 20px;
  }

  .submit-button {
    padding: 13px 20px;
  }
}

#title {
  width: 512px;
  height: 38px;
}

#body {
  width: 512px;
  height: 93px;
  margin-left: 80px;
}

#category {
  width: 320px;
  height: 38px;
}

#timeCooking {
  width: 320px;
  height: 38px;
}

#calories {
  width: 320px;
  height: 38px;
}

#fats {
  width: 320px;
  height: 38px;
}

#carbohydrates {
  width: 320px;
  height: 38px;
}

#proteins {
  width: 320px;
  height: 38px;
}

.step-title,
.ingredient-title {
  width: 320px;
  height: 38px;
}

.step-description,
.ingredient-description {
  width: 498px;
  height: 93px;
}

.description {
  font-size: 14px;
  color: #6b7280;
}

