<div class="d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="counter mb-3">{{ counter }}%</div>
  <div class="level mb-3">Level: {{ level }}</div>
  <div class="progress w-50 mb-3">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      [ngClass]="{
        'bg-info': counter < 100,
        'bg-success': counter === 100,
        'bg-primary': level === 1,
        'bg-warning': level === 2,
        'bg-danger': level >= 3
      }"
      role="progressbar"
      [attr.aria-valuenow]="counter"
      aria-valuemin="0"
      aria-valuemax="100"
      [style.width.%]="counter"
    ></div>
  </div>
  <div class="mb-3">
    <button
      type="button"
      class="btn btn-success ms-3"
      (click)="changeCount(true); notiflix_alert('success')"
    >
      CLICK
    </button>
    <button
      type="button"
      class="btn btn-danger ms-3"
      (click)="notiflix_alert('error'); counter = 0; level = 1"
    >
      RESET
    </button>
  </div>
</div>
