<div class="wrapper">
  <mat-toolbar color="primary" class="toolbar">
    <span class="name">Foodie</span>
    <nav class="center-block">
      <a mat-button routerLink="/">Главная</a>
      <a mat-button routerLink="/recipes">Каталог рецептов</a>
    </nav>

    <div class="user-info" *ngIf="(isLoggedIn$ | async)">
      <button mat-icon-button class="image-button" routerLink="/create-recipe">
        <img src="assets/images/streamline_interface-edit-write-2-change-document-edit-modify-paper-pencil-write-writing.png" alt="Description" class="button-image">
      </button>

      <img [src]="user?.avatar" alt="{{ user?.firstName }}" class="avatar">
      <div class="user-details">
        <span class="user-name">{{ user?.lastName }} {{ user?.firstName }}</span>
        <span class="user-role">{{ user?.role === 'admin' ? 'Администратор' : 'Пользователь' }}</span>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span class="menu-username">
            Вы вошли как:<br>
            <strong>{{ user?.username }}</strong>
          </span>
        </button>
        <button mat-menu-item (click)="goToSettings()">Настройки аккаунта</button>
        <button mat-menu-item *ngIf="user?.role === 'admin'" (click)="goToAdmin()">Администрирование</button>
        <button mat-menu-item (click)="logout()">Выход</button>
      </mat-menu>
    </div>

    <div *ngIf="!(isLoggedIn$ | async)" class="auth-buttons">
      <button mat-raised-button color="primary" routerLink="/authorization">Вход в аккаунт</button>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <footer class="social-links">
    <div class="container">
      <p class="copyright">© 2023 Foodie, Все права защищены.</p>
      <nav class="social-nav">
        <a href="#" class="social-link" aria-label="Facebook">
          <span class="visually-hidden">Facebook</span>
        </a>
        <a href="#" class="social-link" aria-label="Instagram">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e6e0c5719a70462ae69c3767f16ecebaebb3ac862159932ba57a304d43f3dce9?apiKey=3bdf6882f323464f8c63f7fdde26f57d" alt="" class="social-icon" />
        </a>
        <a href="#" class="social-link" aria-label="Twitter">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4212802300abf5dfddf93b02b920bf88de3ff2a0800643ee907beede74595d04?apiKey=3bdf6882f323464f8c63f7fdde26f57d" alt="" class="social-icon" />
        </a>
      </nav>
    </div>
  </footer>
</div>
